
<div class="form-search__block">
   <label>{{ title }}</label>
   <input type="text" name="{{ name }}" id="{{ name }}" {% if allowEdit == false or allowEdit == undefined %}readonly{% endif %}>
</div>
